<app-sidebar currentPage="properties"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Properties</h1>
  <p>
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchFilter" (keyup)="applySearchFilter($event)"
             placeholder="Search properties...">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select disableRipple [(ngModel)]="type" (selectionChange)="selectedFilterChange($event)">
        <mat-option (click)="type = undefined" [value]="undefined">All</mat-option>
        <mat-option *ngFor="let fileType of fileTypes" [value]="fileType">{{fileType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button [matTooltip]="'Add new property'" style="float: right; margin-left: 5px" (click)="addNewProperty()"
            mat-raised-button
            color="primary">
      <mat-icon>house</mat-icon>
      Add new property
    </button>
  </p>



  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let o of properties">
        <app-property-card [property]="o"></app-property-card>
      </div>
      <div *ngIf="properties.length === 0" class="d-flex justify-content-center" style="width: 100%">
        <img src="assets/images/SafeHouse.png" style="height: 400px">
      </div>
    </div>
  </div>
</div>
