<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<app-sidebar currentPage="dashboard"></app-sidebar>
<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Dashboard</h1>
  <button *ngIf="userRole!=='ROLE_ADMIN'" class="create-certificate" mat-raised-button
          (click)="openNewCertificateDialog()">
    New Certificate Request
  </button>
  <app-users *ngIf="userRole==='ROLE_ADMIN'"></app-users>
</div>
