<app-sidebar currentPage="requests"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Certificate requests</h1>
  <p style="margin-top: 70px;">
    <mat-form-field appearance="outline" style="width: 300px; background-color: white">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchFilter" (keyup)="applySearchFilter($event)"
             placeholder="Search certificates..." #input>
    </mat-form-field>
    <mat-form-field appearance="outline" style="background-color: white">
      <mat-select disableRipple [(ngModel)]="selectedFilter" (selectionChange)="selectedFilterChange($event)">
        <mat-option value="all">All requests</mat-option>
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="approved">Approved</mat-option>
        <mat-option value="rejected">Rejected</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <mat-table [dataSource]="dataSource" matSort matSortActive="start" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="alias">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Alias</mat-header-cell>
      <mat-cell *matCellDef="let csr">{{csr.alias}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="commonName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Common name</mat-header-cell>
      <mat-cell *matCellDef="let csr">{{csr.commonName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Organization</mat-header-cell>
      <mat-cell *matCellDef="let csr">{{csr.organization}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let csr">
        <span *ngIf="csr.status == 'APPROVED'" class="requestStatus"
              style="background-color: var(--green)">APPROVED</span>
        <span *ngIf="csr.status == 'REJECTED'" class="requestStatus"
              style="background-color: var(--red)">REJECTED</span>
        <span *ngIf="csr.status == 'PENDING'" class="requestStatus"
              style="background-color: var(--blue)">PENDING</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
      <mat-cell *matCellDef="let csr">
        <button (click)="detailsAboutCsr(csr.id)" mat-icon-button color="primary">
          <mat-icon>article</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <tr *matNoDataRow>
      <td>No data matching the filters</td>
    </tr>
  </mat-table>
</div>
