<app-sidebar currentPage="certificates"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Certificates</h1>
  <p>
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search certificates..." #input>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 300px">
      <mat-select [ngModel]="requestStatus">
        <mat-option value="accepted">Valid certificates</mat-option>
        <mat-option value="rejected">Expired certificates</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <mat-table [dataSource]="dataSource" matSort matSortActive="start" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="issuedTo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issued to</mat-header-cell>
      <mat-cell *matCellDef="let certificate">{{certificate.issuedTo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issuedBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issued by</mat-header-cell>
      <mat-cell *matCellDef="let certificate">{{certificate.issuedBy}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="validFrom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valid from</mat-header-cell>
      <mat-cell *matCellDef="let certificate">{{certificate.validFrom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="validTo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valid to</mat-header-cell>
      <mat-cell *matCellDef="let certificate">{{certificate.validTo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
      <mat-cell *matCellDef="let certificate">
        <button (click)="detailsAboutCertificate(certificate.id)" mat-icon-button color="primary">
          <mat-icon>article</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr *matNoDataRow>
      <td>No data matching the filters</td>
    </tr>
  </mat-table>
  <mat-paginator [pageSize]="10"
                 [length]="dataSource.totalNumber$ | async"
                 showFirstLastButtons
                 [pageSizeOptions]="[5, 10, 50]"></mat-paginator>

</div>
