<div style="padding: 20px">
  <h2>
    <mat-icon style="color: var(--blue)">bookmark</mat-icon>
    Certificate Signing request
  </h2>
  <p style="margin-top: -15px; font-size: 12px"><i>Id: {{csr.id}}</i></p>

  <hr>

  <div class="row">
    <div class="label">Alias:</div>
    <div class="value">{{csr.alias}}</div>
  </div>
  <div class="row">
    <div class="label">Common name:</div>
    <div class="value">{{csr.commonName}}</div>
  </div>

  <div class="row">
    <div class="label">Country:</div>
    <div class="value">{{csr.country}}</div>
  </div>
  <div class="row">
    <div class="label">State:</div>
    <div class="value">{{csr.state}}</div>
  </div>
  <div class="row">
    <div class="label">City:</div>
    <div class="value">{{csr.city}}</div>
  </div>

  <div class="row">
    <div class="label">Created:</div>
    <div class="value">{{parseDate(csr.created)}}</div>
  </div>
  <div class="row">
    <div class="label">Modified:</div>
    <div class="value">{{parseDate(csr.modified)}}</div>
  </div>

  <div class="row">
    <div class="label">Algorithm:</div>
    <div class="value">{{csr.algorithm}}</div>
  </div>
  <div class="row">
    <div class="label">Public key pem:</div>
    <div class="value">
      <button style="font-size: 12px" mat-stroked-button (click)="downloadCsrPem()">
        <mat-icon style="color: var(--blue)">download</mat-icon>
        Download
      </button>
    </div>
  </div>
  <div class="row">
    <div class="label">Csr pem:</div>
    <div class="value">
      <button style="font-size: 12px" mat-stroked-button size="small" (click)="downloadPublicKeyPem()">
        <mat-icon style="color: var(--blue)">download</mat-icon>
        Download
      </button>
    </div>
  </div>
  <div class="row">
    <div class="label">Key size:</div>
    <div class="value">{{csr.keySize}}</div>
  </div>

  <div class="row">
    <div class="label">Organization:</div>
    <div class="value">{{csr.organization}}</div>
  </div>
  <div class="row">
    <div class="label">Status:</div>
    <div class="value">
      <span *ngIf="csr.status == 'APPROVED'" class="requestStatus"
            style="background-color: var(--green)">APPROVED</span>
      <span *ngIf="csr.status == 'REJECTED'" class="requestStatus" style="background-color: var(--red)">REJECTED</span>
      <span *ngIf="csr.status == 'PENDING'" class="requestStatus" style="background-color: var(--blue)">PENDING</span>
    </div>
  </div>

  <div *ngIf="csr.status == 'PENDING'">
    <hr>
    <button mat-stroked-button color="warn" (click)="inProcess = 'rejection'" style="margin-right: 5px">
      Reject certificate
    </button>
    <button mat-stroked-button style="color: var(--green)" (click)="inProcess = 'issuing'">
      Issue certificate
    </button>

    <div *ngIf="inProcess == 'rejection'">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Rejection reason</mat-label>
        <textarea [(ngModel)]="reason" matInput placeholder="Ex. Request is invalid because..."></textarea>
      </mat-form-field>

      <button mat-raised-button style="color: var(--red); width: 100%" (click)="reject()">
        Reject certificate
      </button>
    </div>

    <div *ngIf="inProcess == 'issuing'">
      <!--      <mat-form-field appearance="fill">-->
      <!--        <mat-label>Toppings</mat-label>-->
      <!--        <mat-select [formControl]="toppings" multiple>-->
      <!--          <mat-select-trigger>-->
      <!--            {{toppings.value?.[0] || ''}}-->
      <!--            <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">-->
      <!--        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})-->
      <!--      </span>-->
      <!--          </mat-select-trigger>-->
      <!--          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->

      <mat-form-field appearance="outline">
        <mat-label>Choose an issuer</mat-label>
        <mat-select>
          <mat-option value="1680141471">Secure IT Root</mat-option>
          <mat-option value="1680141778">Secure IT Property Owners</mat-option>
          <mat-option value="1680141838">Secure IT General Purpose</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button style="color: var(--red); width: 100%" (click)="reject()">
        Issue certificate
      </button>
    </div>
  </div>
</div>
