<mat-card style="cursor: pointer" [matTooltip]="'View details'" (click)="objectDetails(property.id)">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <div style="position: absolute; top: 10px; left: 10px; padding: 10px; z-index: 1;">
    <span class="tag">{{property.type}}</span>
  </div>
  <div *ngIf="userRole !== 'ROLE_ADMIN'" style="position: absolute; top: 10px; right: 10px; padding: 10px; z-index: 1;">
    <span class="tag">{{loggedUserId === property.owner.id ? 'OWNER' : 'TENANT'}}</span>
  </div>
  <div style="padding: 10px">
    <h2>{{property.name}}</h2>
    <span>
      <mat-icon>location_pin</mat-icon>
      {{property.address}}
    </span>
    <br>
    <span>
      <mat-icon>person</mat-icon>
      {{property.owner.firstName}} {{property.owner.lastName}}
    </span>
  </div>
</mat-card>
