<div class="sidebar">
  <img src="assets/logo/icon_blue.png" class="logo" style="margin-top: 10px" alt="">
  <hr style="height: 1px; background: var(--blue)">
  <ul>
    <li>
      <a (click)="navigate('/dashboard')" [ngClass]="{ 'currentPage': currentPage === 'dashboard' }">
        <mat-icon>dashboard</mat-icon>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a (click)="navigate('/users')" [ngClass]="{ 'currentPage': currentPage === 'users' }">
        <mat-icon>groups</mat-icon>
        <span class="links_name">Users</span>
      </a>
      <span class="tooltip">Users</span>
    </li>
    <li>
      <a (click)="navigate('/analytics')" [ngClass]="{ 'currentPage': currentPage === 'analytics' }">
        <mat-icon>query_stats</mat-icon>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a (click)="navigate('/profile')" [ngClass]="{ 'currentPage': currentPage === 'profile' }">
        <mat-icon>person</mat-icon>
        <span class="links_name">My Profile</span>
      </a>
      <span class="tooltip">My Profile</span>
    </li>
    <li>
      <a (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="links_name">Log out</span>
      </a>
      <span class="tooltip">Log out</span>
    </li>
  </ul>
</div>
