<div class="sidebar">
  <img src="assets/logo/icon_blue.png" class="logo" style="margin-top: 10px" alt="">
  <hr style="height: 1px; background: var(--blue)">
  <ul>
    <li>
      <a (click)="navigate('/dashboard')" [ngClass]="{ 'currentPage': currentPage === 'dashboard' }">
        <mat-icon>dashboard</mat-icon>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li *ngIf="userRole == 'ADMIN'">
      <a (click)="navigate('/certificates')" [ngClass]="{ 'currentPage': currentPage === 'certificates' }">
        <mat-icon>article</mat-icon>
      </a>
      <span class="tooltip">Certificates</span>
    </li>
    <li *ngIf="userRole == 'ADMIN'">
      <a (click)="navigate('/requests')" [ngClass]="{ 'currentPage': currentPage === 'requests' }">
        <mat-icon>dehaze</mat-icon>
      </a>
      <span class="tooltip">CSRs</span>
    </li>
    <li>
      <a (click)="logout()">
        <mat-icon>logout</mat-icon>
      </a>
      <span class="tooltip">Log out</span>
    </li>
  </ul>
</div>
