<div style="padding: 20px">
  <h2>
    <mat-icon style="color: var(--green)">check</mat-icon>
    Issue CSR
  </h2>
  <p style="margin-top: -15px"><i>Id: {{id}}</i></p>

  <hr>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Choose an issuer</mat-label>
    <mat-select [(ngModel)]="issuer">
      <mat-option value="1680141471">Secure IT Root</mat-option>
      <mat-option value="1680141778">Secure IT Property Owners</mat-option>
      <mat-option value="1680141838">Secure IT General Purpose</mat-option>
    </mat-select>
  </mat-form-field>

  <hr>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-stroked-button style="color: var(--green)" (click)="approve()">Issue</button>
</div>
