<app-sidebar currentPage="requests"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Certificate requests</h1>
  <p>
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchFilter" (keyup)="applySearchFilter($event)"
             placeholder="Search certificates..." #input>
    </mat-form-field>
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let o of objects">
        <app-object-card [object]="o"></app-object-card>
      </div>
    </div>
  </div>
</div>
