<app-sidebar currentPage="objects"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Objects</h1>
  <p>
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchFilter" (keyup)="applySearchFilter($event)"
             placeholder="Search objects..." #input>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select disableRipple (selectionChange)="selectedFilterChange($event)">
        <mat-option value="all">All requests</mat-option>
        <mat-option value="pending">Pending</mat-option>
        <mat-option value="approved">Approved</mat-option>
        <mat-option value="rejected">Rejected</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let o of objects">
        <app-object-card [object]="o"></app-object-card>
      </div>
    </div>
  </div>
</div>
