<div class="example-card">
  <mat-card style="margin: 0 10px; display: inline-block;">
    <mat-card-header style="margin-bottom: 20px; justify-content: center">
      <mat-card-title>Congratulations</mat-card-title>
      <mat-card-subtitle>To start using SECURE IT first set your password</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formGroup">
      <mat-form-field style="width: 49%; margin-right: 1%" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password"
               formControlName="passwordFormControl">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.hasError('required', 'passwordFormControl')">Password is required</mat-error>
        <mat-error
          *ngIf="formGroup.hasError('minlength', 'passwordFormControl') && !formGroup.hasError('required', 'passwordFormControl')">
          Must be at least 12 characters
        </mat-error>
        <mat-error *ngIf="largePasswordErrorMessage()">
          Must have at least one uppercase, one lowercase, one digit, and one special character
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 49%; margin-left: 1%" appearance="outline">
        <mat-label>Re-enter password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="password2"
               formControlName="password2FormControl">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formGroup.hasError('required', 'password2FormControl')">
          Re-entering is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!formGroup.hasError('required', 'password2FormControl') && password !== password2">
          Passwords are not the same
        </mat-error>
      </mat-form-field>
    </form>
    <mat-card-footer>
      <button mat-raised-button (click)="setPassword()" color="primary" style="margin-top: 50px; width: 100%">Submit
      </button>
    </mat-card-footer>
  </mat-card>
</div>
