<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<app-sidebar currentPage="tokens"></app-sidebar>
<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">Tokens</h1>
  <div style="margin-top: 100px">
    <app-blacklist-table></app-blacklist-table>
  </div>
<!--  <button *ngIf="userRole!=='ROLE_ADMIN'" class="create-certificate" mat-raised-button-->
<!--          (click)="openNewCertificateDialog()">-->
<!--    New Certificate Request-->
<!--  </button>-->
<!--  <app-users *ngIf="userRole==='ROLE_ADMIN'"></app-users>-->
</div>
