<app-sidebar currentPage="properties"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div style="margin-left: 100px; margin-top:20px">
  <div class="row">
    <div class="label">Id:</div>
    <div class="value">{{device.id}}</div>
  </div>
  <div class="row">
    <div class="label">Name:</div>
    <div class="value">{{device.name}}</div>
  </div>
  <div class="row">
    <div class="label">Label:</div>
    <div class="value">{{device.label}}</div>
  </div>
  <div class="row">
    <div class="label">Type:</div>
    <div class="value">{{device.type}}</div>
  </div>
  <div class="row">
    <div class="label">Manufacturer:</div>
    <div class="value">{{device.manufacturer}}</div>
  </div>
  <div class="row">
    <div class="label">Mac Address:</div>
    <div class="value">{{device.macAddress}}</div>
  </div>
  <div class="row">
    <div class="label">Property name:</div>
    <div class="value">{{device.property.name}}</div>
  </div>
  <div class="row">
    <div class="label">Property id:</div>
    <div class="value">{{device.property.id}}</div>
  </div>
  <div class="row">
    <div class="label">Property address:</div>
    <div class="value">{{device.property.address}}</div>
  </div>
  <div class="row">
    <div class="label">Generate a report:</div>
    <div class="value">
<!--      <mat-form-field>-->
<!--        <mat-label>First campaign</mat-label>-->
<!--        <mat-date-range-input-->
<!--          [formGroup]="campaignOne"-->
<!--          [rangePicker]="campaignOnePicker">-->
<!--          <input matStartDate placeholder="Start date" formControlName="start">-->
<!--          <input matEndDate placeholder="End date" formControlName="end">-->
<!--        </mat-date-range-input>-->
<!--        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
<!--        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>-->
<!--        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>-->
<!--      </mat-form-field>-->

      <button style="font-size: 12px; margin-left: 5px" mat-stroked-button (click)="downloadReport()">
        <mat-icon style="color: var(--blue)">download</mat-icon>
        Download
      </button>
    </div>
  </div>
</div>

<hr style="width: 100%">

<p style="margin-left: 100px">
  <mat-form-field appearance="outline" style="width: 300px">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="regex" (keyup)="applyFilter()" placeholder="Search log messages...">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-select disableRipple [(ngModel)]="logType" (selectionChange)="applyFilter()">
      <mat-option value="all">All types</mat-option>
      <mat-option value="info">Info</mat-option>
      <mat-option value="warning">Warning</mat-option>
      <mat-option value="error">Error</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-select [(ngModel)]="source">
      <mat-option *ngFor="let s of logSources" [value]="s.value">
        {{s.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>


<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">History of Device Logs</h1>

  <mat-table [dataSource]="dataSource" matSort matSortActive="start" matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
      <mat-cell *matCellDef="let log" [matTooltip]="log.message">{{log.message}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let log">
        <span *ngIf="log.type === 'info'">
          <mat-icon style="color: var(--blue)">info</mat-icon>
        </span>
        <span *ngIf="log.type === 'warning'">
          <mat-icon style="color: orange">warning</mat-icon>
        </span>
        <span *ngIf="log.type === 'error'">
          <mat-icon style="color: var(--red)">error</mat-icon>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let log">{{log.timestamp}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <tr *matNoDataRow>
      <td>No logs matching the filters</td>
    </tr>
  </mat-table>
</div>
