<app-sidebar currentPage="certificates"></app-sidebar>
<img src="../../../../../assets/images/background-line.jpg" class="dashboard-background" alt="dashboard-background"/>

<div>
  <div class="row">
    <div class="label">Id:</div>
    <div class="value">{{device.id}}</div>
  </div>
  <div class="row">
    <div class="label">Name:</div>
    <div class="value">{{device.name}}</div>
  </div>
  <div class="row">
    <div class="label">Label:</div>
    <div class="value">{{device.label}}</div>
  </div>
  <div class="row">
    <div class="label">Type:</div>
    <div class="value">{{device.type}}</div>
  </div>
  <div class="row">
    <div class="label">Manufacturer:</div>
    <div class="value">{{device.manufacturer}}</div>
  </div>
  <div class="row">
    <div class="label">Mac Address:</div>
    <div class="value">{{device.macAddress}}</div>
  </div>
  <div class="row">
    <div class="label">Property name:</div>
    <div class="value">{{device.property.name}}</div>
  </div>
  <div class="row">
    <div class="label">Property id:</div>
    <div class="value">{{device.property.id}}</div>
  </div>
  <div class="row">
    <div class="label">Property address:</div>
    <div class="value">{{device.property.address}}</div>
  </div>
</div>

<hr style="width: 100%">

<div style="margin-left: 90px; margin-right: 10px; margin-top: -80px">
  <h1 style="font-weight: 500; margin-left: 10px; color: white">History of Device Logs</h1>
</div>
